<div>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :type_id %>
    <%= f.check_box  :selected,  checked: f.object.persisted?  %>
    <div style="width: 200px; display: inline-block;">
        <% if !f.object.persisted? && local_assigns[:newparent] == true %>
            <%= f.select :type_id, options_from_collection_for_select(Type.where( 'catetory  = ?' ,local_assigns[:category].to_s ), :id, :typeName, f.object.type_id )  %>
        <% else %>
            <%= f.object.type.typeName %>
        <% end %>
    </div>
    <%= f.text_field (:comment), class:"input" %>
</div>