
<% if user_signed_in? %>
    <%= render "shared/hero" %>

    <h1>Petites annonces Spotiit</h1>

    <% if @propertyads.present? %>
        <% @propertyads.each do |propertyad| %>
            <%= render partial:'showform', locals: {propertyad:propertyad} %>
            
            <p> 
                <a href="<%= propertyad_path(propertyad.id) %>" class="btn btn-default" >Voir l'annonce</a>
                <a href="<%= edit_propertyad_path(propertyad.id) %>" class="btn btn-default">Editer l'annonce</a>
                <a href="<%= propertyad_path(propertyad.id) %>"  data-confirm="Really?" data-method="delete" class="btn btn-default" %>Supprimer</a>
            </p>
        <%end%>
    <% end %>

    <p>
        <a href="<%= new_propertyad_path %>">Nouvelle annonce Immobilière</a>
    </p>
<% else %>
    <%= render "home/home" %>
<% end %>

