<%= form_for @propertyadmgt do |f| %>
    <div>
        <label>Titre</label>
        <%= f.text_field (:title), class:"input" %>

        <h2>Récompenses</h2>
        <h3>Je veux bénéfier du réseaux des Helpers Professionnels</h3>
        <div>
            <label>Récompense fixe </label>
            <%= f.text_field (:rewardPro), class:"input" %>
        </div>
        <div>
            <label>Récompense en % du prix du bien</label>
            <%= f.text_field (:rewardProPercent), class:"input" %>
        </div>
        
        <h3>Je veux bénéfier du réseaux des Helpers Particulier</h3>
        <div>
            <label>Récompense fixe </label>
            <%= f.text_field (:rewardInd), class:"input" %>
        </div>
        <div>
            <label>Récompense en % du prix du bien</label>
            <%= f.text_field (:rewardIndPercent), class:"input" %>
        </div>
    </div>
    <div><h2>Description de votre bien!</h2></div>
     <div>
            <h2>Où se trouve-t-il?</h2>
            <div>
                <label>Quartier</label>
                <%= f.text_field (:district), class:"input" %>
            </div>
            <div>
                <label>Adresse</label>
                <%= f.text_field (:street), class:"input" %>
            </div>
            <div>
                <label>Ville</label>
                <%= f.text_field (:city), class:"input" %>
            </div>
            <div>
                <label>Département</label>
                <%= f.text_field (:dept), class:"input" %>
            </div>
            <div>
                <label>Région</label>
                <%= f.text_field (:region), class:"input" %>
            </div>
        </div>
    <div>
        <h2>Mais plus en détails</h2>

        <div>
            <label>Type de bien</label>
            <%= f.select(:propertytype, Propertyad.propertytypes {|properptytype| [propertytype.value,propertytype.key]}) %>
        </div>
        <div>
            <label>Nature du bien</label>
            <%= f.select(:propertystate, Propertyad.propertystates {|propertystate| [propertystate.value,propertystate.key]}) %>
        </div>
        <div>
            <label>Prix de vente (Net vendeur)</label>
            <%= f.text_field (:netprice), class:"input" %>
        </div>
        <div>
            <label>Date de disponibilité</label>
            <%= f.date_field (:availability)  %>
        </div>
        <div>
            <label>Surface habitable (m2)</label>
            <%= f.text_field (:livingarea), class:"input" %>
        </div>
        <div>
            <label>Surface du terrain (m2)</label>
            <%= f.text_field (:landarea), class:"input" %>
        </div>
        <div>
            <label>Nombre de pièces</label>
            <%= f.select :rooms, [1,2,3,4,5,6,7,">7"] %>
        </div>
        <div>
            <label>Nombre de chambres</label>
            <%= f.select :bedrooms, [1,2,3,4,5,">5"] %>
        </div>
        <div>
            <label>Année de Construction</label>
            <%= f.text_field (:buildingyear), class:"input" %>
        </div>
        <div>
            <label>Diagnostique de performance énergétique</label>
            <%= f.select :energydiagnostic, ["A","B","C","D","E","F"] %>
        </div>
        <div>
            <label>Indice d'émission de gaz à effet de serre</label>
            <%= f.select :carbon, ["A","B","C","D","E","F"] %>
        </div>
        <div>
            <label>Description du bien (longue)</label>
            <%= f.text_area (:description), class:"input" %>
        </div>
        <div>
            <label>Description du bien (Courte)</label>
            <%= f.text_field (:short_description), class:"input" %>
        </div>
    </div>
    <div>
        <label>Commaudités</label>
        <div>
            <label>Ascenseur</label>
            <%= f.check_box  :has_lift %>
            <%= f.text_field (:lift_desc), class:"input" %>
        </div>
        <div>
            <label>Gardien</label>
            <%= f.check_box :has_caretaker %>
            <%= f.text_field (:caretaker_desc), class:"input" %>
        </div>
        <div>
            <label>Balcon</label>
            <%= f.check_box :has_balcony %>
            <%= f.text_field (:balcony_desc), class:"input" %>
        </div>
        <div>
            <label>Terrasse</label>
            <%= f.check_box :has_terrace %>
            <%= f.text_field (:terrace_desc), class:"input" %>
        </div>
        <div>
            <label>Jardin</label>
            <%= f.check_box :has_garden %>
            <%= f.text_field (:garden_desc), class:"input" %>
        </div>
        <div>
            <label>Piscine</label>
            <%= f.check_box :has_pool %>
            <%= f.text_field (:pool_desc), class:"input" %>
        </div>
        <div>
            <label>Cheminée</label>
            <%= f.check_box :has_fireplace%>
            <%= f.text_field (:fireplace_desc), class:"input" %>
        </div>
        <div>
            <label>Parquet</label>
            <%= f.check_box :has_woodenfloor %>
            <%= f.text_field (:woodenfloor_desc), class:"input" %>
        </div>
        <div>
            <label>WC séparés</label>
            <%= f.check_box :has_separatewc %>
            <%= f.text_field (:separatewc_desc), class:"input" %>
        </div>
        <div>
            <label>Rangement</label>
            <%= f.check_box :has_storage %>
            <%= f.text_field (:storage_desc), class:"input" %>
        </div>
        <div>
            <label>Fibre</label>
            <%= f.check_box :has_pool %>
            <%= f.text_field (:pool_desc), class:"input" %>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-default"> Valider </button>
    </div>
<% end %>
