<div class="relative">
    <% if user_signed_in? %>
        <%= render "shared/nav" %>
    <% else %>
        <%= render 'shared/hero_show' %>
    <% end %>
</div>

<h1>Petites annonces Spotiit</h1> 

<%= render partial:'showform', locals: {propertybuyad:@propertybuyad} %>

<p> 
    <a href="<%= edit_propertybuyad_path(@propertybuyad.id) %>" class="btn btn-default">Editer l'annonce</a>
    <a href="<%= propertybuyad_path(@propertybuyad.id) %>" data-confirm="Really?" data-method="delete" class="btn btn-default" %>Supprimer</a>
</p>
<p>
    <%= link_to "Annuler", :back %>
</p> 

